@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/font-awesome-sass/assets/stylesheets/font-awesome.scss";
@import "./mixins.scss";
//color-scheme
//Blues : https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.19033178904019846,0.26400861060417813,0.3215686274509804,0.4719836278660879,0.7243822241243825,0.9215686274509803,0.48627450980392156,0.6745098039215687,0.8215686274509804,0.2868023772754925,0.30632027211086266,0.3215686274509804,0.26727689643876645,0.37073892086672083,0.45156862745098036&swatchOrder=0,1,2,3,4
//Greens: https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=4&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.1377958705563537,0.3215686274509804,0.24201717288226635,0.3214233736745816,0.9215686274509803,0.6617780649259944,0.35205164489702556,0.8215686274509804,0.6183243624248146,0.23426645879164779,0.3215686274509804,0.2837773104940535,0.25710692920880635,0.6,0.45156862745098036&swatchOrder=0,1,2,3,4

$my-white-translucent: rgba(255,255,255,.66);
//The_Blues
$my-baby-blue: rgba(120,185,235,1.0);
$my-light-blue: rgba(124,172,209,1.0);
$my-medium-blue: rgba(89,122,154,1.0);
$my-dark-blue: rgba(47,65,82,1.0);
$my-dark-blue-translucent: rgba(47,65,82,.7);
$my-dark-gray: rgba(89,96,102,1.0);
$my-dark-gray-translucent: rgba(89,96,102,.7);

//The_Greens
$my-medium-green: rgba(63,147,111,1);
$my-medium-green-translucent: rgba(63,147,111,.6);


/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

.grid {
    display: block;
    position: relative;
    width: 100%;
    text-align: justify;
    font-size: 0;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);

/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}

.pace .pace-progress {
    right: 100%;
    width: 100%;
    height: 2px;
    
    position: fixed;
    top: 0;
    z-index: 2000;
    
    background: #2299dd;
    transition: all 1s ease;
}

/**
 * GENERAL
 */

img {max-width:100%;}

body {
    transition: opacity .25s ease;
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata','Helvetica Neue','Helvetica',sans-serif;
}


//Custom-General
 
hr{
        width: 25%;
    }

.find-out-btn-lg {
    padding: 1.05rem;
    
    background: rgba(77,77,77,.7);
    color: rgba(255,255,255,1.0);
    font-size: 16px;
    transition: background .4s;
    &:hover{
        background: rgba(133,133,133,.8);
    }

    &:active{
        background: rgba(44,0,0,.6);
    }
}

.find-out-btn-sm {
    padding: .85rem;
    
    background: rgba(77,77,77,.7);
    color: rgba(255,255,255,1.0);
    font-size: 14px;
    transition: background .4s;
    &:hover{
        background: rgba(133,133,133,.8);
    }

    &:active{
        background: rgba(44,0,0,.6);
    }
}

// make sure that parent div has `display: table`...
.vertical-align-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


/**
 * My Styles
 */

nav {
    position: relative;

    .nav-box{
        display: inline-block;
        border-radius: 0px;
    }

    .fixed-right-simple {
        position: fixed;
        top: 5px;
        right: 10px;
        z-index: 4;

            .contact-anchor,
            .burger-box{
                display: inline-block;
                transition: background .2s;
                &:hover{
                    background: $my-baby-blue;
                }
            }
            
            .burger-box{
                background: $my-dark-gray-translucent;
                color: rgba(255,255,255,1.0);
        
            }

            .contact-anchor {
                background: $my-medium-green-translucent;
                color: #fff;
                margin-right: .5rem;   
            }

            
    }

    .fixed-right-full {
        display: block;
        width: 30rem;
        height: 100%;
        
        position: fixed;
        top: 0px;
        right: -30rem;
        z-index: 5;
        background: rgba(44,44,44,.95);
        color: rgba(255,255,255,1);
        text-align: left;
        padding: 8px 1.5rem;
        transition: right .3s;

    &.active{
        display: block;
        right: 0rem;
        height: 100%;
    }

        .exit-nav{
            position: absolute;
            top: 5px;
            right: 15px;
            background: $my-white-translucent;
            color: rgba(104,44,22,1);
            transition: background .2s;
            &:hover{
                background: $my-dark-gray;
                color: $my-white-translucent;
            }
        }
        
        h3{
            margin-top: 0
        }

        ul{
            list-style-type: none;
            padding: 0;

                a, 
                a:visited{
                text-decoration: none;
                width: 55%;
                }

                li{
                    font-size: 18px;
                    padding: 2.4rem 1.0rem;
                    color: rgba(255,255,255,1);
                    transition: background .2s;
                    
                     &:hover{
                        background: $my-white-translucent;
                        color: $my-dark-gray;
                }

             }
        }
    }
}

header {
    display: table;
    background: url('../images/the-look.jpg') center center no-repeat scroll;
    background-size: cover;
    height: 60rem;
    width: 100%;
    position: relative;
}

.h-greeting {
    color: rgba(47,65,83,1);
    font-weight: 700;
    
    h1{
        font-size: 96px;
    }
}

.about{
    text-align: center;
    padding: 3rem;
}


.services{
    text-align: center;
    background: $my-dark-blue;
    color: rgba(255,255,255,1);
    padding: 2rem .5rem;

     h4{
        font-weight: 400;
    }
    .btn-learn-more {
        background: rgba(255,255,255,.8);
        padding: 1.05rem
    } 
}

.details{
    display: table;
    background: url('../images/nebula.jpg') center center no-repeat scroll;
    background-size: cover;
    width: 100%;
    position: relative;

    .testimonials {
        position: relative;
        z-index: 2;
        color: rgba(255,255,255,1);
        padding: 6% 3% 6% 3%;
    
        blockquote {
            text-indent: -8px;
            font-size: 16px;
            text-align: left;
            p.byline{
                text-align: right;
                font-size: 21px
            }
        }
    }

    .underlay {
      position: absolute; /* could also be absolute */ 
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: rgba(100,100,100,0.81);
    }
}

.my-work{
    padding: 2.5%;
    text-align: center;

    h2{
        color: $my-dark-blue 
    }

    hr{
        width: 25%;
        border-color: $my-dark-blue 
    }

    .work-container{
        outline: 1px solid rgba(200,0,0,.3);
        padding: 2.5%;

        img{
            max-width: 40%;
        }
    }

    button {
        margin-top: 20px
    }
}

.before-after{
    background: $my-medium-blue;
    padding: 5%;
    color: rgba(255,255,255,1.0);
    text-align: center;
    h3{
        margin-top: 0
    }
    button {
        background: $my-dark-blue-translucent;
    
        &.selected{
            background: #ddd;
            color: $my-dark-blue-translucent

        }
    
    }


}

footer{
    color: rgba(255,255,255,1);
    text-align: center;
    background: $my-medium-green;
    p {

        .fa-2x {
            color: $my-baby-blue;
            
            &:hover{
                color: $my-dark-blue;
            }
        }
    }
}

footer{
    position: relative;
    top:0;
    right: 0;
    color: white;
    .great{
        position: absolute;
    }
}




